body {
  background-color: white;
  height: 100%;
}
/*Nav bar*/
nav {
  width: 100%;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(2, 148, 69);
  color: white;
  justify-content: space-around;
  vertical-align: middle;
  z-index: 2;
  box-shadow: 0px 5px 30px -5px black; /*Shadow of nav bar. May or may not keep.*/
}
nav a, nav a:hover {
  color: white;
  padding: 5px 20px;
  text-decoration: none;
}
nav a:hover {
  background-color: rgb(1, 101, 47);
}
nav img {
  height: 30px;
  border-radius: 5px;
}


h1 {
  color: black;
  margin: 50px;
  text-align: center;
}

/*Categories pictures with hovering info*/
.categories {
  display: flex;
  width: 95%;
  height: auto;
  margin: auto;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  flex-wrap: nowrap;
}
.categories img, .categories a {
  width: 100%;
  border-radius: 50%;
  box-sizing: border-box;
}
.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(71, 71, 71, 0.75);
}
.ctgContainer {
  position: relative;
  flex-basis: 300px;
  min-width: 275px;
  flex-grow: 1;
  max-width: 350px;
  margin: 15px;
}
.ctgContainer:hover .overlay {
  opacity: 1;
  border-radius: 50%;
}
.text {
  color: white;
  font-size: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 1;
}

/* Rotating Images */
.carousel-3d-slide {
  height: auto !important;
  background-color: rgba(0, 0, 0, 0.05) !important;
}

/* End of Rotating Images */
/* @media screen and (max-width: 900px ){
  .categories img {
    width: 49%;
  }
} */
/* @media screen and (max-width: 1327px) {
  .categories img, .categories a {
    min-width: 420px;
  }
} */
@media (max-width: 1215px) {
  .ctgContainer {
    flex-basis: 50%;
  }

  .categories {
    flex-wrap: wrap;
  }
}

@media (max-width: 820px) {
  .ctgContainer {
    flex-basis: 75%;
    margin: 10px 0px;
    max-width: 75%;
  }
}
