body {
  background-color: white;
  height: 100%;
}
/*Nav bar*/
nav {
  width: 100%;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(2, 148, 69);
  color: white;
  justify-content: space-around;
  vertical-align: middle;
  z-index: 2;
  box-shadow: 0px 5px 30px -5px black; /*Shadow of nav bar. May or may not keep.*/
}
nav a, nav a:hover {
  color: white;
  padding: 5px 20px;
  text-decoration: none;
}
nav a:hover {
  background-color: rgb(1, 101, 47);
}
nav img {
  height: 30px;
  border-radius: 5px;
}


h1 {
  color: black;
  margin: 50px;
  text-align: center;
}

.slogan {
  font-family: 'Norican', cursive;
  font-weight: 600;
  font-size: 3.2em;
  text-shadow: 2px 2px 5px rgb(2, 148, 69);
}

/*Categories pictures with hovering info*/
.categories {
  display: flex;
  width: 95%;
  height: auto;
  margin: auto;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  flex-wrap: nowrap;
}
.categories img, .categories a {
  width: 100%;
  border-radius: 50%;
  box-sizing: border-box;
}
.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(71, 71, 71, 0.75);
}
.ctgContainer {
  position: relative;
  flex-basis: 300px;
  min-width: 275px;
  flex-grow: 1;
  max-width: 350px;
  margin: 15px;
}
.ctgContainer:hover .overlay {
  opacity: 1;
  border-radius: 50%;
}
.text {
  color: white;
  font-size: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 1;
}

/* Rotating Images */

#y {
  display: flex;
  justify-content: center;
}
.carContainer {

  width: 75%;
  position: relative;
  perspective: 1000px;
  padding: 100px;
  left: 22.5%;
  box-sizing: border-box;
}

.desc {
  text-align: center;
  color: rgb(1, 101, 47);
}

.abtContainer {
  background-color: rgb(1, 101, 47);
  width: 90%;
  margin: auto;
   border-radius: 8px;
}

.about {
  background-color: rgb(2, 148, 69);
  margin: auto;
  width: 80%;
  padding: 15px;
  color: white;
  border: 4px solid white;
   border-radius: 8px;
}
 .about h2 {
   color: white;
   font-size: 4em;
   text-align: center;
   text-shadow: 2px 2px 5px black;
 }

 .flexContainer {
   display: flex;
   flex-direction: row;
   margin-top: 30px;
   margin-bottom: 30px;
   justify-content: space-around;
 }

 .formMsg {
   align-content: center;
   justify-content: center;
   font-size: 1.5em;
 }
 .formContent {
   padding: 10px;
   border: 5px solid rgb(1, 101, 47);
   border-radius: 8px;
   background-color: rgb(2, 148, 69);
   color: white;
 }
.tyContainer {
  display:flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  font-family: 'Norican', cursive;
}
.printQuery {
  border: 5px solid rgb(1, 101, 47);
  border-radius: 5px;
  background-color: rgb(2, 148, 69);
  color: white;
  width:30%;
  padding: 10px;
  margin-top: 30px;
}

.regionMap {
  display: flex;
  justify-content: center;
  align-content: center;
}

.flex1 {
  border-right: 5px solid gray;
  padding:20px;
}

.contact p {
  padding:0px;
  margin: 0px;
}
.contact h5 {
  margin-top: 8px;
  margin-bottom: 8px;
}
.accordion {
  width: 40%;
  margin-top:8px;
  padding-top:0px;
}
.card-header {
  margin: 0px;
  padding: 0px;
  align-content: center;
  justify-content: center;
  background-color: white;
}

#carousel {
  position: relative;


}
#carousel img {
  display: block;
  animation: rotate 15000ms ease-in-out infinite;
  position: absolute;
  background-color: white;
  padding: 0em;
  text-align: center;
  min-width: 66%;
  -webkit-box-reflect: below 30px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(255, 255, 255, 0.2)));
}
#carousel img:nth-child(0) {
  animation-delay: -15000ms;
}
#carousel img:nth-child(1) {
  animation-delay: -11250ms;
}
#carousel img:nth-child(2) {
  animation-delay: -7500ms;
}
#carousel img:nth-child(3) {
  animation-delay: -3750ms;
}
#carousel img:nth-child(4) {
  animation-delay: 0ms;
}
#carousel img:nth-child(5) {
  animation-delay: 3750ms;
}
#carousel img:nth-child(6) {
  animation-delay: 7500ms;
}
@keyframes rotate {
  0%, 20%, 99.7619%, 100% {
    transform: rotateY(45deg) scale(0.6);
    right: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    z-index: -1;
    -webkit-filter: opacity(100%) blur(3px);
  }
  24.7619%, 45% {
    transform: rotateY(0deg) scale(1);
    right: 40%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    z-index: 100;
    -webkit-filter: opacity(100%) blur(0px);
  }
  49.7619%, 70% {
    transform: rotateY(-45deg) scale(0.6);
    right: 81%;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    z-index: -1;
    -webkit-filter: opacity(100%) blur(3px);
  }
  74.7619%, 95% {
    transform: rotateY(-90deg) scale(0);
    right: 0%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    z-index: 0;
    -webkit-filter: opacity(0%) blur(0px);
  }
}

@media (max-width: 1215px) {
  .ctgContainer {
    flex-basis: 50%;
  }

  .categories {
    flex-wrap: wrap;
  }
}

@media (max-width: 820px) {
  .ctgContainer {
    flex-basis: 75%;
    margin: 10px 0px;
    max-width: 75%;
  }
}
