body {
  background-color: white;
  height:100%;
}

nav {
  width:100%;
  display:flex;
  position:fixed;
  top:0;
  left:0;
  background-color: rgb(2, 148, 69);
  color: white;
  justify-content: space-around;
  vertical-align: middle;
}
nav a, nav a:hover {
  color: white;
  padding: 10px;
  text-decoration:none;
}
nav a:hover {
  background-color: rgb(1, 101, 47);
}
nav img {
  height:30px;
  border-radius: 5px;
}
.categories {
  width:100%;
  height: auto;
  background-color: rgb(2, 148, 69); /*Place holder color for testing*/
  padding: 10px 0px;
}
.categories img {
  width:24%;
  height:auto;
}

/* Rotating Images */

.carousel-3d-slide {
      height: auto !important;
      background-color: rgba(0, 0, 0, 0.05) !important;
    }
/* End of Rotating Images */



@media screen and (max-width: 900px ){
  .categories img {
    width: 49%;
  }
}
