body {
  background-color: white;
  height:100%;
}

nav {
  width:100%;
  display:flex;
  position:fixed;
  top:0;
  left:0;
  background-color: rgb(2, 148, 69);
  color: white;
  justify-content: space-around;
  vertical-align: middle;
}
nav a, nav a:hover {
  color: white;
  padding: 10px;
  text-decoration:none;
}
nav a:hover {
  background-color: rgb(1, 101, 47);
}
nav img {
  height:30px;
  border-radius: 5px;
}
.categories {
  width:100%;
  height: auto;
  background-color: rgb(2, 148, 69); /*Place holder color for testing*/
  padding: 10px 0px;
}
.categories img {
  width:24%;
  height:auto;
}

/* Rotating Images */
html{
  background-image: linear-gradient(207deg, #B4EC51 0px, #419A4A 100%);
  height: 100%;
}


.demoWrapper {
  width: 680px;
  height: 400px;
  -webkit-font-smoothing: antialiased;
  margin: 50px auto;
  padding: 1px;
}

.stage {
  height: 325px;
  margin-top: 15px;
  margin-left: 15px;
  color: #ddd;
  margin-right: 10px;
  font-family: Arial, Helvetica, Verdana;
  position:relative;
}

.box {
  position: absolute;
  width: 180px;
  height: 180px;
  background-color: #06f;
  display: inline-block;
  margin: 10px 20px 20px 235px;
  display: inline-block;
  overflow:hidden;
}

.box > img {
  width:180px;
  height:auto;
  border:1px solid #DDD;
  outline:0 solid transparent;
}
/* End of Rotating Images */



@media screen and (max-width: 900px ){
  .categories img {
    width: 49%;
  }
}
