body {
  background-color: white;
}
.categories {
  width:95%;
  height: 300px;
  background-color: rgb(11, 163, 81);
  display:flex;
  justify-content: space-around;
  margin:auto;
}

/* Rotating Images */
html{
  background-image: linear-gradient(207deg, #B4EC51 0px, #419A4A 100%);
  height: 100%;
}

body {
    height:100%;
}

.demoWrapper {
  width: 680px;
  height: 400px;
  -webkit-font-smoothing: antialiased;
  margin: 50px auto;
  padding: 1px;
}

.stage {
  height: 325px;
  margin-top: 15px;
  margin-left: 15px;
  color: #ddd;
  margin-right: 10px;
  font-family: Arial, Helvetica, Verdana;
  position:realtive;
}

.box {
  position: absolute;
  width: 180px;
  height: 180px;
  background-color: #06f;
  display: inline-block;
  margin: 10px 20px 20px 235px;
  display: inline-block;
  overflow:hidden;
}

.box > img {
  width:180px;
  height:auto;
  border:1px solid #DDD;
  outline:0 solid transparent;
}
/* End of Rotating Images */
